html, body, #root {
    height: 100%;
}
.greeting {
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.greeting-title {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: #fff;
    font-size: 30px;
    width: 100%;
}
.greeting-content {
    position: absolute;
    bottom: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    width: 100%;
    line-height: 24px;

}