.coffers-container {

}
.coffers-header {
    padding: 10px;
    background: #727272;
    color: #fff;
}
.user-pic {
    width: 50px;
    height: 50px;
}
.user-pic img {
    width: 100%;
    height: 100%;
}

/* 宫格 */
.coffers-menu {
    border-bottom: 1px solid #ddd;
}
.coffers-menu .am-flexbox-item {
    background: #fff;
    border-right: 1px solid #ddd; 
    margin-left: 0;
    text-align: center;
    padding: 15px 0;
}
/* .coffers-menu .am-flexbox-item:last-of-type {
    border-right: 0;
} */
.coffers-menu .iconfont {
    font-size: 40px;
}
.coffers-menu h4 {
    margin-top: 8px;
}

/* 交易记录 */
.record-container {
    text-align: center;
    padding: 15px 0;
}
.record-header {
    margin-bottom: 10px;
}
.record-list {
    width: 100%;
    padding: 0 15px;
}
.record-list > li {
    margin: 5px 0;
}
.record-list > li > ul {
    display: flex;
}
.record-list > li > ul > li {
    flex: 1;
    width: 10%;
}

/* 商品列表 */
.self-mall {
    padding: 10px 15px;
    /* border-top: 1px solid #ddd; */
    background: #fff;
}
.coffers-container .am-tabs::before {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 2;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.goods-list {
    width: 100%;
}
.goods-list .am-list-item .am-list-line .am-list-brief {
    font-size: 12px;
}
html:not([data-scale]) .goods-list .am-list-body::before {
    display: none;
}
.am-list-item img {
    width: 30px;
    height: 57px;
}
.market-price {
    text-decoration: line-through;
}
.promotion-price {
    color: orange;
}

@media (-webkit-min-device-pixel-ratio: 2), not all, (min-resolution: 2dppx) {
    html:not([data-scale]) .am-grid.am-grid-line .am-flexbox .am-flexbox-item:not(:last-child)::after {
        z-index: 5;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), not all, (min-resolution: 2dppx) {
    html:not([data-scale]) .am-tabs-default-bar-top .am-tabs-default-bar-tab {
        z-index: 1;
    }
}